.menuitem {
    padding: 0 16px;
}

/* menu name */
.menuitem p:first-child {
    width: 80%;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-weight: bold;
}

/* menu price */
.menuitem p:nth-child(2) {
    width:20%;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
}

/* menu description */
.menuitem p:nth-child(3) {
    clear: both;
    margin: 0 0 0 1em;
    padding: 0;
    font-size: 0.6em;
}

.menuitem p:nth-child(3)::before {
    content:"- ";
}

/* menu icon */
.menuitem img {
    width: 0.8em;
    height: 0.8em;
}

.description {
        font-size: 0.6em;
        text-align:center;
        margin: 0 0 1em 0;
        padding:0;
}