* {
    font-family: "Oswald", "Verdana";
    font-size: 24px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.8em;
}

#map {
    position: static;
    height: 576px;
    width: 576px;
    background-color: grey;
    margin: auto;
    color: transparent;
}

#logo {
    height: 100px;
}

footer {
    height: 100px;
    padding-top: 16px;
    clear: both;
}

footer p {
    font-size: 0.5em;
    text-align: center;
}

@media screen and (max-width: 576px) {
    #logo {
        height: 70px;
    }

    #map {
        width: 100%;
        height: 100vw;
    }
}